[submodule "_vim/pack/my-plugins/nerdcommenter"]
	path = _vim/pack/my-plugins/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "_vim/pack/my-plugins/vim-markdown"]
	path = _vim/pack/my-plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "_vim/pack/my-plugins/opt/dracula"]
	path = _vim/pack/my-plugins/opt/dracula
	url = git@github.com:dracula/vim.git
[submodule "config/iterm/themes/dracula"]
	path = config/iterm/themes/dracula
	url = https://github.com/dracula/iterm.git
[submodule "_vim/pack/my-plugins/editorconfig"]
	path = _vim/pack/my-plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "_vim/pack/my-plugins/start/preserveNoEOL"]
	path = _vim/pack/my-plugins/start/preserveNoEOL
	url = https://github.com/vim-scripts/PreserveNoEOL.git
